<div id="makingPage" class="col s12 container">
  <br>
  <div class="section white">
    <div class="row">
      <h2 class="header" style="font-family: 'Dosis'; text-shadow: 2px 2px 2px #aaa">Font Maker</h2>
      <br>
      <p>각 form 에 맞도록 설명을 채워 넣고, 이미지를 업로드한 후 '제출' 버튼을 눌러주세요. 잠시 기다리면 당신만의 폰트가 만들어집니다. </p>
      <br>
      <br>
      <h4><a class="deep-purple-text" href="#">Start</a></h4>

      <form class="" action="loading" method="post">

        <div class="input-field col s6">
          <input id="font_name" type="text" class="validate">
          <label for="font_name">Font Name</label>
        </div>
        <div class="input-field col s6">
          <input id="font_note" type="text" class="validate">
          <label for="font_note">Font Note</label>
        </div>

        <br><br><br><br><br>

        <h5>대문자 입력</h5>
        <div class="file-field input-field">
          <div class="btn deep-purple">
            <span>File</span>
            <input id="font_capital_img" type="file">
          </div>
          <div class="file-path-wrapper">
            <input id="font_capital_path" class="file-path validate" type="text">
          </div>
        </div>

        <br><br>
        <h5>소문자 입력</h5>
        <div class="file-field input-field">
          <div class="btn deep-purple">
            <span>File</span>
            <input id="font_small_img" type="file">
          </div>
          <div class="file-path-wrapper">
            <input id="font_small_path" class="file-path validate" type="text">
          </div>
        </div>

        <br><br>
        <div class="right">
          <button class="btn waves-effect waves-light deep-purple" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="divider"></div>

  <br>
  <br>

</div>
